<div class="flex flex-col flex-auto w-full">
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <!-- Title and action buttons -->
        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-4xl font-extrabold tracking-tight leading-none">Jugadores / Singles</div>
                <div class="ml-0.5 font-medium text-secondary text-lg">
                    <ng-container *ngIf="jugadoresCount > 0">
                        {{jugadoresCount}}
                    </ng-container>
                    {{jugadoresCount | i18nPlural: {
                    '=0' : 'No tienes jugadores',
                    '=1' : 'jugador',
                    'other': 'jugadores'
                    } }}
                </div>
            </div>
        </div>

        <!-- Selector jugador -->
        <div class="w-full grid grid-cols-1 mt-4 gap-2">
            <div class="flex justify-end">
                <button (click)="crearJugadorDialogo()" class="text-white font-bold text-2xl bg-orange-700" mat-flat-button>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                    <span class="ml-2">Crear Jugador</span>
                </button>
            </div>
        </div>

        <div class="w-full grid grid-cols-2 sm:grid-cols-3 gap-5 mt-10">
            <!-- Categoria -->
            <mat-form-field appearance="fill" class="w-full">
                <mat-label class="font-medium pb-4 text-xl">Categoria</mat-label>
                <mat-select (selectionChange)="onCategoriaChange($event)" [placeholder]="'Categoria'" [formControl]="filtroCategoria">
                    <mat-option [value]="''">
                    </mat-option>
                    <mat-option *ngFor="let categoria of categorias" [value]="categoria.nombre">
                        {{categoria.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Categoria -->
            <mat-form-field appearance="fill" class="w-full">
                <mat-label class="font-medium pb-4 text-xl">Rama</mat-label>
                <mat-select (selectionChange)="onRamaChange($event)" [placeholder]="'Rama'" [formControl]="filtroRama">
                    <mat-option [value]="''">
                    </mat-option>
                    <mat-option *ngFor="let rama of ramas" [value]="rama.nombre">
                        {{rama.descripcion | titlecase}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- Selector jugador -->
            <div class="w-full form-buscar-jugador">
                <input matInput [formControl]="buscarJugador" type="text" placeholder="Buscar jugador" #input>
            </div>
        </div>

        <!-- tabla jugadores -->
        <div class="grid grid-cols-1 xl:grid-cols-1 gap-8 w-full mt-8">
            <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-xl overflow-hidden">
                <div class="overflow-x-auto mx-6">
                    <ng-container *ngIf="jugadoresCount > 0; else elseNoJugadores">
                        <table class="w-full bg-transparent" mat-table [dataSource]="tablaTorneosData" [trackBy]="trackByFn" matSort #tablaJugadores>

                            <!-- ranking -->
                            <ng-container matColumnDef="ranking">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-black text-lg">
                                    Ranking
                                </th>
                                <td class="text-center" mat-cell *matCellDef="let element">
                                    <span class="pr-6 font-semibold text-sm whitespace-nowrap">
                                        {{element.ranking}}
                                    </span>
                                </td>
                            </ng-container>

                            <!-- jugador -->
                            <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-black text-lg">
                                    Jugador
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="pr-6 whitespace-nowrap">
                                        {{element.nombre}}
                                    </span>
                                </td>
                            </ng-container>

                            <!-- rama -->
                            <ng-container matColumnDef="rama">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-black text-lg">
                                    Rama
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="pr-6 whitespace-nowrap font-semibold">
                                        {{element.rama | titlecase}}
                                    </span>
                                </td>
                            </ng-container>

                            <!-- categoria -->
                            <ng-container matColumnDef="categoria">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-black text-lg">
                                    Categoria
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="pr-6 whitespace-nowrap font-semibold">
                                        {{element.categoria}}
                                    </span>
                                </td>
                            </ng-container>

                            <!-- acciones -->
                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef class="text-black text-lg">
                                    Acciones
                                </th>
                                <td class="text-center" mat-cell *matCellDef="let element">
                                    <div>
                                        <mat-icon matTooltip="Editar Jugador" class="icon-size-5 cursor-pointer text-naranmi hover:opacity-60" [svgIcon]="'feather:edit'" (click)="editarJugador(element)"></mat-icon>&nbsp;&nbsp;
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="tablaTorneosColumns"></tr>
                            <tr class="order-row h-16" mat-row *matRowDef="let row; columns: tablaTorneosColumns;"></tr>
                        </table>
                    </ng-container>

                    <!-- No Clientes -->
                    <ng-template #elseNoJugadores>
                        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">¡No hay Jugadores para mostrar!</div>
                    </ng-template>
                </div>
            </div>
        </div>

        <div class="mt-10 w-full">&nbsp;</div>

        <mat-paginator [pageSize]="limit" class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent" [length]="jugadoresCount" (page)="onPageChange($event)" [showFirstLastButtons]="true" aria-label="Select page" [pageIndex]="pagina"></mat-paginator>
    </div>
</div>
