<div class="flex flex-col flex-auto w-full">
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <!-- Title and action buttons -->
        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-4xl font-extrabold tracking-tight leading-none">Torneos</div>
                <div class="ml-0.5 font-medium text-secondary text-lg">
                    <ng-container *ngIf="torneosCount > 0">
                        {{torneosCount}}
                    </ng-container>
                    {{torneosCount | i18nPlural: {
                    '=0' : 'No tienes torneos',
                    '=1' : 'torneo',
                    'other': 'torneos'
                    } }}
                </div>
            </div>
            <div class="flex items-center ml-6" *ngIf="token.rol === 'admin'">
                <button (click)="crearTorneoDialogo()" class="hidden sm:inline-flex text-white font-bold text-lg" mat-flat-button [color]="'primary'">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                    <span class="ml-2">Crear torneo</span>
                </button>

                <!-- Actions menu (visible on xs) -->
                <div class="sm:hidden">
                    <button [matMenuTriggerFor]="actionsMenu" mat-icon-button>
                        <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #actionsMenu="matMenu">
                        <button (click)="crearTorneoDialogo()" mat-menu-item>Crear torneo</button>
                    </mat-menu>
                </div>
            </div>
        </div>

        <!-- tabla torneos -->
        <div class="grid grid-cols-1 xl:grid-cols-1 gap-8 w-full mt-8">
            <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-xl overflow-hidden">
                <div class="overflow-x-auto mx-4" *ngIf="torneos.length; else elseNoTorneos">
                    <table class="min-w-full bg-transparent" mat-table [dataSource]="tablaTorneosData" [trackBy]="trackByFn">
    
                        <!-- Torneo -->
                        <ng-container matColumnDef="torneo">
                          <th mat-header-cell *matHeaderCellDef class="text-black text-base md:text-lg p-2">
                            Torneo
                          </th>
                          <td mat-cell *matCellDef="let element" class="p-2">
                            <span class="font-medium text-sm md:text-base whitespace-nowrap">
                              {{element.nombre}}
                            </span>
                          </td>
                        </ng-container>
                    
                        <!-- Modalidad -->
                        <ng-container matColumnDef="modalidad">
                          <th mat-header-cell *matHeaderCellDef class="text-black text-base md:text-lg p-2">
                            Modalidad
                          </th>
                          <td mat-cell *matCellDef="let element" class="p-2">
                            <span class="font-medium text-sm md:text-base whitespace-nowrap">
                              {{element.modalidad}}
                            </span>
                          </td>
                        </ng-container>
                    
                        <!-- Rama -->
                        <ng-container matColumnDef="rama">
                          <th mat-header-cell *matHeaderCellDef class="text-black text-base md:text-lg p-2">
                            Rama
                          </th>
                          <td mat-cell *matCellDef="let element" class="p-2">
                            <span class="whitespace-nowrap text-sm md:text-base font-medium">
                              {{element.rama | titlecase}}
                            </span>
                          </td>
                        </ng-container>
                    
                        <!-- Categoria -->
                        <ng-container matColumnDef="categoria">
                          <th mat-header-cell *matHeaderCellDef class="text-black text-base md:text-lg p-2">
                            Categoría
                          </th>
                          <td mat-cell *matCellDef="let element" class="p-2">
                            <span class="whitespace-nowrap font-semibold text-sm md:text-base">
                              {{element.categoria}}
                            </span>
                          </td>
                        </ng-container>
                    
                        <!-- Estado -->
                        <ng-container matColumnDef="estado">
                          <th mat-header-cell *matHeaderCellDef class="text-black text-base md:text-lg p-2">
                            Estado
                          </th>
                          <td mat-cell *matCellDef="let element" class="p-2">
                            <span class="inline-flex items-center font-bold text-xs md:text-sm px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                              [ngClass]="{
                                'bg-amber-200 text-amber-800': element.estado === 'Programacion',
                                'bg-sky-200 text-sky-800': element.estado === 'Inicial',
                                'bg-green-200 text-green-800': element.estado === 'En Proceso',
                                'bg-purple-200 text-purple-800': element.estado === 'Sorteo',
                                'bg-red-200 text-red-800': element.estado === 'Finalizado'
                              }">
                              <span class="leading-relaxed whitespace-nowrap text-xs md:text-base">
                                {{element.estado}}
                              </span>
                            </span>
                          </td>
                        </ng-container>
                    
                        <!-- Fase -->
                        <ng-container matColumnDef="fase">
                          <th mat-header-cell *matHeaderCellDef class="text-black text-base md:text-lg p-2">
                            Fase Actual
                          </th>
                          <td mat-cell *matCellDef="let element" class="p-2">
                            <span class="whitespace-nowrap font-semibold text-sm md:text-base">
                              {{element.fase_actual | titlecase}}
                            </span>
                          </td>
                        </ng-container>
                    
                        <!-- Acciones (visible solo para admin) -->
                        <ng-container matColumnDef="acciones" *ngIf="token.rol === 'admin'">
                          <th mat-header-cell *matHeaderCellDef class="text-black text-base md:text-lg p-2">
                            Acciones
                          </th>
                          <td mat-cell *matCellDef="let element" class="text-center p-2">
                            <div class="flex justify-center">
                              <mat-icon matTooltip="Editar Torneo" class="icon-size-5 cursor-pointer text-naranmi hover:opacity-60"
                                [svgIcon]="'feather:edit'" (click)="editarTorneo(element)">
                              </mat-icon>&nbsp;&nbsp;
                              <mat-icon matTooltip="Iniciar Torneo" *ngIf="element.estado === 'Inicial'"
                                class="icon-size-5 cursor-pointer text-naranmi hover:opacity-60" [svgIcon]="'feather:play'"
                                (click)="iniciarTorneo(element)">
                              </mat-icon>&nbsp;
                              <mat-icon matTooltip="Finalizar Torneo" *ngIf="element.estado === 'En Proceso'"
                                class="icon-size-5 cursor-pointer text-naranmi hover:opacity-60" [svgIcon]="'feather:square'"
                                (click)="dialogFinalizarTorneo(element)">
                              </mat-icon>
                            </div>
                          </td>
                        </ng-container>
                    
                        <!-- Definición de filas y columnas -->
                        <tr mat-header-row *matHeaderRowDef="tablaTorneosColumns"></tr>
                        <tr class="h-16" mat-row *matRowDef="let row; columns: tablaTorneosColumns;"></tr>
                      </table>
                </div>
                <!-- No parejas -->
                <ng-template #elseNoTorneos>
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">¡No hay torneos para mostrar!</div>
                </ng-template>
            </div>

            <mat-paginator pageSize="30" class="absolute inset-x-0 bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
            [length]="torneosCount" (page)="onPageChange($event)" [showFirstLastButtons]="true" aria-label="Select page" [pageIndex]="pagina">
            </mat-paginator>
        </div>
    </div>
</div>
