/* width */
::-webkit-scrollbar {
    // height: 10px;
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.color-borde{
    border-color: #E33022;
}

.mat-radio-inner-circle{
    background-color: #FFD484 !important;
}

.input-select-per{
    width: 100%;

    display: flex;
    flex-direction: row;

    mat-icon{
        margin-right: 10px;
    }

    mat-select{
        width: 100%;
    }

    background-color: #bebebeb1;
    border-radius: 7px;
    padding: 8px;
    font-size: 15px;
    font-weight: 600;
}

// .ng-invalid:not(form).ng-touched.ng-pristine, .ng-invalid:not(form).ng-touched.ng-dirty{
//     .input-select-per{
//         border: 1px solid #E33022 !important; /* red */
//     }
// }

.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex{
    border-radius: 15px !important;
    background-color: #bebebe72 !important;
}

.mat-form-field.mat-form-field-appearance-fill.mat-focused .mat-form-field-wrapper .mat-form-field-flex{
    border-radius: 15px !important;
    background-color: #bebebe72 !important;
}

.mat-form-field{

    input{
        font-size: 18px;
        font-weight: 700;
    }
}

.icon-display-delete{
    transform: scale(1.4);
}

.tooltip-font-size{
    font-size: 1rem;
}
