<div class="flex flex-col max-w-240 md:min-w-100 max-h-screen -m-6 p-5">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-12 pr-3 sm:pr-5 pl-6 sm:pl-8 text-on-primary p-3 border-b-4 mr-4 ml-4 color-borde mt-4">
        <div class="text-2xl font-medium text-black mb-4">Jugadores inscritos - {{tipojuego | titlecase}}</div>
        <button mat-icon-button (click)="onNoClick()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <div class="mt-4 mb-4 w-full">
        <!-- buscar jugador -->
        <div class="flex justify-center">
            <mat-form-field class="w-10/12">
                <!-- <mat-label class="text-base font-semibold">Buscar jugador</mat-label> -->
                <input [formControl]="jugadoresFiltroCtrl" id="jugador" type="text"  matInput>
                <mat-icon class="icon-size-7 text-gray-400" matPrefix [svgIcon]="'mat_outline:search'"></mat-icon>
            </mat-form-field>
        </div>

        <!-- lista jugadores -->
        <div class="flex justify-center w-full" *ngIf="tipojuego === 'jugador'; else elseParejas">
            <div class="overflow-y-auto h-90 w-10/12 overflow-x-hidden">
                <div class="grid grid-cols-1 pr-2">
                    <div *ngFor="let jugador of filteredJugadores| async" class="border-b-4 mb-2">
                        <div class="flex flex-row justify-between">
                            <div matTooltip="{{jugador.jugador.nombre || jugador.jugador.id}}" matTooltipClass="tooltip-font-size" class="font-normal text-xl truncate ">
                                {{jugador.jugador.nombre || jugador.jugador.id}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- lista parejas -->
        <ng-template #elseParejas>
            <div class="flex justify-center w-full">
                <div class="overflow-y-auto h-90 w-10/12 overflow-x-hidden">
                    <div class="grid grid-cols-1 pr-2">
                        <div *ngFor="let pareja of filteredJugadores| async" class="border-b-4 mb-2">
                            <div class="flex flex-row justify-between">
                                <div matTooltip="{{pareja.pareja.jugador1.nombre}} - {{pareja.pareja.jugador2.nombre}}" matTooltipClass="tooltip-font-size" class="font-normal text-xl truncate ">
                                    {{pareja.pareja.jugador1.nombre}} - {{pareja.pareja.jugador2.nombre}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>
