<div class="flex flex-col flex-auto w-full">
    <div class="flex flex-wrap w-full p-4 md:p-8">
        <!-- Título -->
        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-4xl font-extrabold tracking-tight leading-none" *appShowForRoles="['user']">Perfil de Jugador</div>
                <div class="text-4xl font-extrabold tracking-tight leading-none" *appShowForRoles="['admin']">Perfil de Administrador</div>
                <div class="ml-0.5 font-medium text-secondary text-lg">
                    Bienvenido, <span class="font-bold">{{ profileData?.nombre_a_mostrar === '' ? profileData.nombre: profileData.nombre_a_mostrar }}</span>
                </div>
            </div>
        </div>

        <!-- Información del perfil -->
        <div class="grid grid-cols-1 w-full mt-8">
            <div class="flex flex-col bg-card shadow rounded-xl overflow-hidden p-8">
                <h2 class="text-2xl font-semibold text-center" *appShowForRoles="['user']">Información del Jugador</h2>
                <h2 class="text-2xl font-semibold text-center" *appShowForRoles="['admin']">Información del Administrador</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-6">
                    <div class="w-full flex justify-center items-center">
                        <div class="flex w-40 h-40 row-span-2">
                            <!-- Icono de perfil -->
                            <div class="flex flex-auto items-end -mt-10">
                                <div class="relative flex items-center justify-center w-40 h-40 rounded-full overflow-hidden ring-4 ring-bg-card">
                                    <!-- Upload / Remove img -->
                                    <div class="absolute inset-0 z-10 bg-slate-700 opacity-50"></div>
                                    <div class="absolute inset-0 flex items-center justify-center z-20">
                                        <div>
                                            <input id="avatar-file-input" class="absolute h-0 w-0 opacity-0 invisible pointer-events-none" type="file" [multiple]="false" [accept]="'image/jpeg, image/png, image/jpg'" (change)="uploadImageToUser(profileData.id,imageUrlInput.files)" #imageUrlInput>
                                            <label class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover" for="avatar-file-input" matRipple>
                                                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                                            </label>
                                        </div>
                                        <!-- <div>
                                            <button mat-icon-button (click)="removeImage()">
                                                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                            </button>
                                        </div> -->
                                    </div>
                                    <img class="object-cover w-full h-full" *ngIf="urlImg" [src]="urlImg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Información del usuario -->
                    <div class="flex flex-col items-center sm:items-start md:justify-center gap-3">
                        <p class="text-lg"><strong>Nombre:</strong> {{ profileData?.nombre |titlecase }}</p>
                        <p class="text-lg" *appShowForRoles="['user']"><strong>Apodo:</strong> {{ profileData?.nombre_a_mostrar |titlecase}}</p>
                        <p class="text-lg"><strong>Correo :</strong> {{ profileData?.correo |titlecase}}</p>
                    </div>
                    <div class="flex flex-col items-center sm:items-start md:justify-center gap-3" *appShowForRoles="['user']">
                        <p class="text-lg"><strong>Ranking:</strong> {{ profileData?.jugador?.ranking ? profileData?.jugador?.ranking :'Sin ranking' |titlecase}}</p>
                        <p class="text-lg"><strong>Rama:</strong> {{ profileData?.jugador?.rama |titlecase}}</p>
                        <p class="text-lg"><strong>Categoria:</strong> {{ profileData?.jugador?.categoria ? profileData?.jugador?.categoria: 'Sin categoria' |titlecase}}</p>
                    </div>
                </div>
            </div>
        </div>
