<div class="flex flex-col flex-auto w-full">
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <!-- Title and action buttons -->
        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-3xl font-semibold tracking-tight leading-8">
                    <a class="text-naranmi" [routerLink]="['/torneos']"><mat-icon class="icon-size-6 text-black" [svgIcon]="'mat_outline:arrow_back_ios'"></mat-icon> Torneos</a> / Torneo singles 2023
                </div>
            </div>
            <div class="flex items-center ml-6">
                <button (click)="editarTorneoDialogo()" class="hidden sm:inline-flex text-white font-bold text-lg" mat-flat-button [color]="'primary'">
                    <mat-icon class="icon-size-5" [svgIcon]="'feather:edit'"></mat-icon>
                    <span class="ml-2">Editar torneo</span>
                </button>

                <!-- Actions menu (visible on xs) -->
                <div class="sm:hidden">
                    <button [matMenuTriggerFor]="actionsMenu" mat-icon-button>
                        <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #actionsMenu="matMenu">
                        <button (click)="editarTorneoDialogo()" mat-menu-item>Editar torneo</button>
                    </mat-menu>
                </div>
            </div>
        </div>

        <!-- text grupos -->
        <div class="mt-10">
            <div class="flex items-center justify-between w-full">
                <div>
                    <div class="text-3xl font-semibold tracking-tight leading-8">Grupos</div>
                </div>
                <div class="flex items-center ml-6">
                    <button (click)="crearGrupo()" class="hidden sm:inline-flex text-white font-bold text-lg" mat-flat-button [color]="'primary'">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                        <span class="ml-2">Crear grupo</span>
                    </button>

                    <!-- Actions menu (visible on xs) -->
                    <div class="sm:hidden">
                        <button [matMenuTriggerFor]="actionsMenu" mat-icon-button>
                            <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                        </button>
                        <mat-menu #actionsMenu="matMenu">
                            <button (click)="crearGrupo()" mat-menu-item>Crear grupo</button>
                        </mat-menu>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full"></div>

        <!-- Grupos -->
        <div class="relative flex items-center justify-center w-full dark:text-gray-50">
            <div class="flex items-center justify-start w-full h-full gap-6 py-4 mx-auto overflow-auto">
                <div class="relative flex w-full sm:w-auto" *ngFor="let item of [1,2,3,4]; index as ind; trackBy: trackByFn">
                    <a class="w-56 p-3 rounded-lg shadow hover:shadow-xl transition-shadow duration-150 ease-in-out bg-card">
                        <!-- titulo grupo -->
                        <div class="w-full border-b-2 border-chiliRed">
                            <!-- <div class="flex flex-0 items-center justify-center"> -->
                                <div class="font-bold text-lg text-center">
                                    Grupo A
                                    <mat-icon (click)="removeGrupo()" class="text-chiliRed font-bold icon-display cursor-pointer float-right" [svgIcon]="'feather:minus'"></mat-icon>
                                </div>
                            <!-- </div> -->
                        </div>

                        <!-- Integrantes -->
                        <div class="w-full mt-4">
                            <div *ngFor="let item of [1,2,3,4,5]" class="flex flex-row justify-between">
                                <div class="font-semibold text-base">
                                    Integrante 1
                                </div>
                                <div>
                                    <mat-icon class="text-chiliRed font-bold icon-display-delete cursor-pointer" [svgIcon]="'feather:x'"></mat-icon>
                                </div>
                            </div>
                        </div>
                        <!-- Last activity -->
                        <div class="w-full">
                            <div class="flex justify-end mt-4 text-md font-md">
                                <mat-icon (click)="addIntegranteGrupo()" class="text-verdemi font-bold icon-display cursor-pointer" [svgIcon]="'mat_outline:add'"></mat-icon>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="w-full mt-4"></div>

        <!-- partidos -->
        <div class="w-full">
            <div class="grid grid-cols-1 sm:grid-cols-2">
                <div class="font-semibold text-xl flex items-center">
                    Partidos - Grupo A
                </div>
                <!-- Selector jugador -->
                <div class="w-full form-buscar-jugador">
                    <input matInput [formControl]="buscarJugador" type="text" placeholder="Buscar jugador">
                </div>
            </div>

            <div class="grid grid-cols-1 xl:grid-cols-1 gap-8 w-full mt-8">
                <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-xl overflow-hidden">
                    <div class="overflow-x-auto mx-6">
                        <table class="w-full bg-transparent" mat-table [dataSource]="tablaJugadoresData" [trackBy]="trackByFn">

                            <!-- jugador 1 -->
                            <ng-container matColumnDef="JugadorU">
                                <th mat-header-cell *matHeaderCellDef class="text-black text-lg">
                                    Jugador 1
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="pr-6 font-semibold text-base whitespace-nowrap">
                                        {{element.jugadorU}}
                                    </span>
                                </td>
                            </ng-container>

                            <!-- jugador 2 -->
                            <ng-container matColumnDef="jugadorD">
                                <th mat-header-cell *matHeaderCellDef class="text-black text-lg">
                                    Jugador 2
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="pr-6 font-semibold text-base whitespace-nowrap">
                                        {{element.JugadorD}}
                                    </span>
                                </td>
                            </ng-container>

                            <!-- estapa -->
                            <ng-container matColumnDef="etapa">
                                <th mat-header-cell *matHeaderCellDef class="text-black text-lg">
                                    Etapa
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="pr-6 font-semibold text-base whitespace-nowrap">
                                        {{element.etapa}}
                                    </span>
                                </td>
                            </ng-container>

                            <!-- acciones -->
                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef class="text-black text-lg">
                                    Acciones
                                </th>
                                <td class="text-center" mat-cell *matCellDef="let element">
                                    <div>
                                        <mat-icon class="icon-size-5 cursor-pointer text-naranmi hover:opacity-60" [svgIcon]="'feather:edit'" (click)="editarPartido(element)"></mat-icon>&nbsp;&nbsp;
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="tablaJugadoresColumns"></tr>
                            <tr class="order-row h-16" mat-row *matRowDef="let row; columns: tablaJugadoresColumns;"></tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

