<div class="flex flex-col max-w-160 md:min-w-160 max-h-screen -m-6">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-12 pr-3 sm:pr-5 pl-6 sm:pl-8 text-on-primary p-3 border-b-4 mr-4 ml-4 color-borde mt-4">
        <div class="text-2xl font-medium text-black mb-4">Editar partido</div>
        <button mat-icon-button (click)="onNoClick()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- contenido -->
    <div class="mt-4 mb-4 px-4">
        <!-- titulos -->
        <div class="grid grid-cols-3 gap-2">
            <div class="flex flex-col text-center">
                <span class="font-medium text-lg">
                    Sets
                </span>
            </div>
            <div class="flex flex-col text-center">
                <span class="font-medium text-lg">{{this.modalidad | titlecase}} 1</span>
                <span>{{partido[tipoJugador].nombre}}</span>
            </div>
            <div class="flex flex-col text-center">
                <span class="font-medium text-lg">{{this.modalidad | titlecase}} 2</span>
                <span>{{partido[tipoJugador2].nombre}}</span>
            </div>
        </div>
        <!-- sets -->
        <div *ngFor="let item of puntos; index as i" class="grid grid-cols-3 gap-2 mt-4">
            <!-- set -->
            <div class="font-semibold text-lg text-center">
                {{i + 1}}
            </div>
            <!-- set jugador 1 -->
            <div class="input-number-set">
                <input class="w-9/12 sm:w-4/12" [disabled]="disableInputs" [(ngModel)]="item.jugador1" type="number" name="setCount" id="setCount" min="0">
            </div>
            <!-- set jugador 2 -->
            <div class="input-number-set">
                <input class="w-9/12 sm:w-4/12" [disabled]="disableInputs2" [(ngModel)]="item.jugador2" type="number" name="setCount" id="setCount" min="0">
            </div>
        </div>
    </div>

    <!-- Botones -->
    <div class="flex justify-center mb-4">
        <button [disabled]="disableShow" matTooltip="Confirmar" class="ml-4 bg-verdemi text-white text-xl font-bold" mat-flat-button (click)="confirmar()">
            Confirmar
        </button>
    </div>
</div>
