<div class="flex flex-col max-w-240 md:min-w-100 max-h-screen -m-6">
    <!-- Header -->
    <div
        class="flex flex-0 items-center justify-between h-12 pr-3 sm:pr-5 pl-6 sm:pl-8 text-on-primary p-3 border-b-4 mr-4 ml-4 color-borde mt-4">
        <div class="text-2xl font-medium text-black mb-4">{{title}} jugador</div>
        <button mat-icon-button (click)="onNoClick()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <div class="w-full mt-4 mb-4 pr-8 pl-8">
        <form [formGroup]="jugadorForm">
            <!-- nombre -->
            <div class="input-text-per">
                <mat-label class="mb-1 font-medium text-lg">Nombre</mat-label>
                <input [formControlName]="'nombre'" name="nombreJugador" id="nombreJugador" type="text" required>
            </div>

            <!-- apellido -->
            <div class="input-text-per">
                <mat-label class="mb-1 font-medium text-lg">Nombre (a mostrar)</mat-label>
                <input [formControlName]="'apellido'" name="apellidoJugador" id="apellidoJugador" type="text" required>
            </div>


            <!-- nombre -->
            <div class="input-text-per">
                <mat-label class="mb-1 font-medium text-lg">Correo electronico</mat-label>
                <input [formControlName]="'correo'" name="correoJugador" id="correoJugador" type="email">
            </div>

            <!-- ranking -->
            <div class="input-number-per mt-2">
                <mat-label class="mb-1 font-medium text-lg">Ranking</mat-label>
                <input [formControlName]="'ranking'" class="w-4/12 sm:w-3/12" type="number" min="1" required>

            </div>

            <!-- rama -->
            <div class="w-full mb-3">
                <mat-label class="font-medium pb-4">Rama</mat-label><br>
                <mat-radio-group aria-label="seleccionar rama del jugador" [formControlName]="'rama'">
                    <mat-radio-button *ngFor="let rama of ramas" [value]="rama.nombre">{{rama.descripcion |
                        titlecase}}&nbsp;&nbsp;</mat-radio-button>
                </mat-radio-group>
            </div>

            <!-- Categoria -->
            <div class="w-full mb-3">
                <mat-label class="font-medium pb-4">Categoria</mat-label><br>
                <mat-radio-group aria-label="seleccionar categoria del jugador" [formControlName]="'categoria'">
                    <mat-radio-button *ngFor="let categoria of categorias"
                        [value]="categoria.nombre">{{categoria.descripcion | titlecase}}&nbsp;&nbsp;</mat-radio-button>
                </mat-radio-group>
            </div>

            <!-- Categoria dobles-->
            <div class="w-full mb-3">
                <mat-label class="font-medium pb-4">Categoria dobles</mat-label><br>
                <mat-radio-group aria-label="seleccionar categoria del jugador en dobles"
                    [formControlName]="'categoria_dobles'">
                    <mat-radio-button *ngFor="let categoria of categorias"
                        [value]="categoria.nombre">{{categoria.descripcion | titlecase}}&nbsp;&nbsp;</mat-radio-button>
                </mat-radio-group>
            </div>
        </form>
    </div>

    <!-- Botones -->
    <div class="flex justify-center mb-4">
        <button matTooltip="Confirmar" class="ml-4 bg-verdemi text-white text-xl font-bold" mat-flat-button
            (click)="confirmarJugador()">
            Confirmar
        </button>
    </div>
</div>