<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-12 pr-3 sm:pr-5 pl-6 sm:pl-8 text-on-primary p-3 border-b-4 mr-4 ml-4 color-borde mt-4">
        <div class="text-2xl font-medium text-black mb-4">{{tipoAccion}} pareja</div>
        <button mat-icon-button (click)="onNoClick()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <div class="w-full mt-4 mb-4 pr-8 pl-8">
        <form [formGroup]="parejaForm">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <!-- jugador 1 -->
                <div class="w-full">
                    <mat-label class="mb-2 font-medium text-lg">Jugador 1</mat-label>
                    <div class="input-select-per">
                        <!-- <input [formControlName]="'jugadorUno'" name="nombreJugadorUno" id="nombreJugadorUno" type="text" required> -->
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'feather:search'"></mat-icon>
                        <mat-select required [formControlName]="'jugador1'" name="nombreJugadorUno" id="nombreJugadorUno" (selectionChange)="jugadorChange($event.value)">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="jugadoresFiltroCtrl" placeholderLabel="Buscar jugador..." noEntriesFoundLabel="'Jugador no encontrado'">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let jugador of filteredJugadores| async" [value]="jugador.id">
                                {{ jugador.nombre }}
                            </mat-option>
                        </mat-select>
                    </div>
                    <mat-error *ngIf="parejaForm.get('jugador1').invalid && (parejaForm.get('jugador1').dirty || parejaForm.get('jugador1').touched)">
                        El jugador 1 es requerido.
                    </mat-error>
                </div>

                <!-- jugador 2 -->
                <div class="w-full">
                    <mat-label class="mb-2 font-medium text-lg">Jugador 2</mat-label>
                    <div class="input-select-per">
                        <!-- <input [formControlName]="'jugadorUno'" name="nombreJugadorUno" id="nombreJugadorUno" type="text" required> -->
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'feather:search'"></mat-icon>
                        <mat-select required [formControlName]="'jugador2'" name="nombreJugadorDos" id="nombreJugadorDos" (selectionChange)="jugadorDChange($event.value)">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="jugadoresFiltroDCtrl" placeholderLabel="Buscar jugador..." noEntriesFoundLabel="'Jugador no encontrado'">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let jugador of filteredJugadoresD| async" [value]="jugador.id">
                                {{ jugador.nombre }}
                            </mat-option>
                        </mat-select>
                    </div>
                    <mat-error *ngIf="parejaForm.get('jugador2').invalid && (parejaForm.get('jugador2').dirty || parejaForm.get('jugador2').touched)">
                        El jugador 2 es requerido.
                    </mat-error>
                </div>
            </div>

            <!-- ranking -->
            <div class="input-number-per mt-2 mb-3">
                <mat-label class="mb-1 font-medium text-lg">Ranking</mat-label>
                <input [formControlName]="'ranking'" class="w-4/12 sm:w-3/12" name="ranking" id="ranking" type="number" min="1" required>
                <mat-error *ngIf="parejaForm.get('ranking').invalid && (parejaForm.get('ranking').dirty || parejaForm.get('ranking').touched)">
                    El ranking de la pareja es requerida y mayor a 0.
                </mat-error>
            </div>

            <!-- rama -->
            <div class="w-full mb-3">
                <mat-label class="mb-2 font-medium text-lg">Rama</mat-label><br>
                <mat-radio-group aria-label="seleccionar rama del torneo" [formControlName]="'rama'">
                    <mat-radio-button *ngFor="let rama of ramas" [value]="rama.nombre">{{rama.descripcion | titlecase}}&nbsp;&nbsp;</mat-radio-button>
                </mat-radio-group>
            </div>

            <!-- Categoria -->
            <div class="w-full mb-3">
                <mat-label class="mb-2 font-medium text-lg">Categoria</mat-label><br>
                <mat-radio-group aria-label="seleccionar categoria del torneo" [formControlName]="'categoria'">
                    <mat-radio-button *ngFor="let categoria of categorias" [value]="categoria.nombre">{{categoria.descripcion | titlecase}}&nbsp;&nbsp;</mat-radio-button>
                </mat-radio-group>
            </div>
        </form>
    </div>

    <!-- Botones -->
    <div class="flex justify-center mb-4">
        <button matTooltip="Confirmar" class="ml-4 bg-verdemi text-white text-xl font-bold" mat-flat-button (click)="confirmar()">
            Confirmar
        </button>
    </div>
</div>
