<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
    <!-- Header -->
    <div
        class="flex flex-0 items-center justify-between h-12 pr-3 sm:pr-5 pl-6 sm:pl-8 text-on-primary p-3 border-b-4 mr-4 ml-4 color-borde mt-4">
        <div class="text-2xl font-medium text-black mb-4">{{tipoAccion}} torneo</div>
        <button mat-icon-button (click)="onNoClick()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- contenido -->
    <div class="mt-10 mb-10">
        <div class="w-full grid grid-cols-1 md:grid-cols-2">
            <div class="p-6 md:p-10">
                <form class="flex flex-col flex-auto overflow-y-auto" [formGroup]="torneoForm">
                    <!-- nombre -->
                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label class="font-medium pb-4 text-xl">Nombre del torneo</mat-label>
                        <input matInput [formControlName]="'nombre'" type="text">
                    </mat-form-field>
                    <!-- tipo -->
                    <div class="w-full mb-3">
                        <mat-label class="font-medium pb-4 text-xl">Tipo de torneo</mat-label><br>
                        <mat-radio-group aria-label="seleccionar tipo de torneo" [formControlName]="'tipo_torneo'"
                            (change)="tipoTorneoChange($event)">
                            <mat-radio-button *ngFor="let tipo of tipos" [value]="tipo.nombre"
                                class="text-lg">{{tipo.descripcion | titlecase}}&nbsp;&nbsp;</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <!-- rama -->
                    <div class="w-full mb-3">
                        <mat-label class="font-medium pb-4 text-xl">Rama</mat-label><br>
                        <mat-radio-group aria-label="seleccionar rama del torneo" [formControlName]="'rama'">
                            <mat-radio-button *ngFor="let rama of ramas" [value]="rama.nombre"
                                class="text-lg">{{rama.descripcion | titlecase}}&nbsp;&nbsp;</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <!-- modalidad -->
                    <div class="w-full mb-3">
                        <mat-label class="font-medium pb-4 text-xl">Modalidad</mat-label><br>
                        <mat-radio-group aria-label="seleccionar modalidad del torneo" [formControlName]="'modalidad'">
                            <mat-radio-button *ngFor="let modalidad of modalidades" [value]="modalidad.nombre"
                                class="text-lg">{{modalidad.descripcion | titlecase}}&nbsp;&nbsp;</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <!-- Grupos y jornadas -->
                    <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-5">
                        <!-- <mat-form-field appearance="fill" class="w-full">
                            <mat-label class="font-medium pb-4 text-xl">Grupos</mat-label>
                            <input matInput [formControlName]="'grupos'" min="1" type="number">
                        </mat-form-field>
                        <mat-form-field *ngIf="mostrarJornadas" appearance="fill" class="w-full">
                            <mat-label class="font-medium pb-4 text-xl">Jornadas cruzadas</mat-label>
                            <input matInput [formControlName]="'jornadas'" type="number">
                        </mat-form-field> -->
                        <div *ngIf="!mostrarJornadas">
                            <mat-label class="font-medium pb-4 text-xl">Grupos</mat-label>
                            <div class="input-number-set mb-4">
                                <input class="w-6/12" [formControlName]="'cantidad_grupos'" type="number" name="grupos"
                                    id="grupos" min="1">
                            </div>
                        </div>
                        <div *ngIf="mostrarJornadas">
                            <mat-label class="font-medium pb-4 text-xl" >Jornadas</mat-label>
                            <div class="input-number-set mb-4">
                                <input class="w-6/12" [formControlName]="'cantidad_jornadas_regulares'" type="number" name="jornadas_regulares"
                                    id="jornadas_regulares" min="1">
                            </div>
                        </div>
                        <div *ngIf="mostrarJornadas">
                            <mat-label class="font-medium pb-4 text-xl">Jornadas cruzadas</mat-label>
                            <div class="input-number-set mb-4">
                                <input class="w-6/12" [formControlName]="'cantidad_jornadas_cruzadas'" type="number" name="jornadas_cruzadas"
                                    id="jornadas_cruzadas" min="1">
                            </div>
                        </div>
                    </div>
                    <!-- <mat-form-field appearance="fill" class="w-full">
                        <mat-select (selectionChange)="onGrupoChange()" [formControlName]="'grupos'" [placeholder]="'Grupos'">
                            <mat-option [value]="''">
                            </mat-option>
                            <mat-option *ngFor="let grupo of grupos" [value]="grupo.id">
                                {{grupo.id}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> -->
                    <!-- Categoria -->
                    <div class="w-full mb-3">
                        <mat-label class="font-medium pb-4 text-xl">Categoria</mat-label><br>
                        <mat-radio-group aria-label="seleccionar modalidad del torneo" [formControlName]="'categoria'">
                            <mat-radio-button *ngFor="let categoria of categorias" [value]="categoria.nombre" class="text-lg">{{categoria.descripcion | titlecase}}&nbsp;&nbsp;</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </form>
            </div>
            <div class="md:border-l-4 p-6 md:p-10 color-borde">
                <div class="w-full font-semibold text-2xl mb-4">Sets</div>
                <!-- fases -->
                <ng-container *ngFor="let fase of fases">
                    <div class="w-full mb-3">
                        <mat-label class="font-medium pb-4 text-xl">{{fase.descripcion | titlecase}}</mat-label><br>
                        <mat-radio-group [name]="fase.descripcion" [(ngModel)]="valuesSet[fase.nombre]">
                            <mat-radio-button [value]="1" class="text-lg">1 set</mat-radio-button>&nbsp;&nbsp;
                            <mat-radio-button [value]="2" class="text-lg">2 de 3</mat-radio-button>&nbsp;&nbsp;
                            <mat-radio-button [value]="3" class="text-lg">3 de 5</mat-radio-button>&nbsp;&nbsp;
                        </mat-radio-group>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

    <!-- Botones -->
    <div class="flex justify-center mb-4 pb-5 md:pb-0">
        <button matTooltip="Crear torneo" class="ml-4 bg-verdemi text-white text-xl font-bold" mat-flat-button
            (click)="crearTorneo()">
            <mat-icon [svgIcon]="'mat_outline:add'"></mat-icon>
            {{tipoAccion}} torneo
        </button>
    </div>
</div>

<!-- <div class="grid sm:grid-cols-4 gap-4 w-full">
    Nombre torneo
    <div class="sm:col-span-2">
        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Nombre del torneo</mat-label>
            <input matInput [formControlName]="'nombre'" type="text">
        </mat-form-field>
    </div>

    Nombre torneo
    <div class="sm:col-span-2">
        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Nombre del torneo</mat-label>
            <input matInput [formControlName]="'nombre'" type="text">
        </mat-form-field>
    </div>
</div> -->
